map:
    sdf_truncation            : 0.1
    sdf_truncation_scale      : 0.00
    integration_weight_sample : 1
    virtual_voxel_size        : 0.01
    n_frames_invalidate_voxels: 100
    dynamic_detection         : true
    dynamic_erosion_size      : 15
    dynamic_dilation_size     : 10
    dynamic_flood_threshold   : 0.007
    save_dynamic_mask         : true
    gs_only_dynamic_frames    : false
    gs_visualize              : true 


#     dynamic_erosion_size      : 15
#     dynamic_dilation_size     : 10
#     dynamic_flood_threshold   : 0.007
streamer:
    voxel_extents_scale       : 1

mesh:
#     marching_cubes_threshold: 1.5
#     min_weight_threshold : 5
    marching_cubes_threshold: 2
    min_weight_threshold : 1
    sdf_var_threshold : 0
    vertices_merging_threshold : 0

sensor:
    min_depth : 0.1
    max_depth : 5.0
    # TUM Fr3 intrinsics (for walking_halfsphere / walking_xyz)
    # fx, fy, cx, cy
    intrinsics: [535.4, 539.2, 320.1, 247.6]
    resolution: [640, 480]
    depth_scaling: 5000.0
    hz: 30

# data_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_xyz
# results_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_xyz/mrhash_dynamic_results
# data_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_halfsphere
# results_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_halfsphere/mrhash_dynamic_results

# data_path: /home/robin/datasets/tum/rgbd_dataset_freiburg1_desk
# results_path: /home/robin/datasets/tum/rgbd_dataset_freiburg1_desk/mrhash_dynamic_results/test

data_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_halfsphere
results_path: /home/robin/datasets/tum_dynamics/rgbd_dataset_freiburg3_walking_halfsphere/mrhash_dynamic_results_only_dynamic_frames

gs_optimization_param_path: ./mrhash/configurations/params.json
end_frame: -1
